/* Pour le composant "Layout". */
.wholeBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: grey;
    padding: 20px 50px;
    margin: 0
}

.mjBanner {
    opacity: 0.1;
    height: 200px;
    border: 4px red solid;
    border-radius: 20px
}
.mjBanner:hover {
    cursor: pointer;
    opacity: 1
}

.centerBanner {
    flex-direction: column
}

.logo {
    display: block;
    background: white;
    width: 200px;
    border: 4px red solid;
    border-radius: 20px;
    margin: 0 auto
}

.title {
    color: red;
    font-size: 32px;
    text-align: center;
    margin-top: 20px
}

.subtitle {
    color: blue;
    font-style: italic;
    text-align: center;
    margin-top: -20px
}

.bannerHR {
    background-color: black;
    color: black;
    width: 400px;
    height: 2px;
    border: none
}

.form {
    font-size: 16px;
    margin: 10px 20px
}

footer {
    background: grey;
    padding: 20px 0;
    /*margin-bottom: 20px;*/
}

.footer {
    padding-left: 20px
}

.footerInput {
    font-size: 16px;
    border: 1px black solid;
    margin-left: 10px
}

/* Pour le composant "Accueil.js". */
.accueil_main {
    text-align: center
}

.accueil_card {
    display: inline-block;
    width: 350px;
    height: 550px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 20px
}

.accueil_photo {
    background: grey;
    width: 350px;
    height: 350px;
    border-radius: 10px 10px 0 0
}

.accueil_nom {
    color: blue;
    font-size: 24px;
    font-weight: bold;
    text-align: center
}

.accueil_infos {
    color: blue;
    font-weight: bold;
}

/* Pour le composant "Disques.js". */
.list {
    list-style-type: none;
    text-align: center;
}

.listItem {
    display: inline-block;
    width: 350px;
    height: 550px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 20px
}

.liPhoto {
    background: transparent; /*goldenrod;*/
    width: 350px;
    height: 350px;
    border-radius: 10px 10px 0 0
}

.liPic {
    height: 350px
}

.liName {
    color: blue;
    font-size: 24px;
    font-weight: bold;
    text-align: center
}

.liInfo {
    color: blue;
    font-weight: bold;
}

/* Pour "Categories.js". */
.allCateg {
    text-align: center;
    margin: 50px 0
}

.categ {
    background: red;
    color: white;
    font-size: 24px;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 5px
}
.categ:hover {
    cursor: pointer;
    background: black;
    border: solid 2px red;
}

.categButton {
    font-size: 20px;
    margin-left: 50px
}

/* Pour "Texte.js". */
.present {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px 0
}